.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 103px;
  overflow: hidden;
}

@media (max-width: $tablet) {
  .container {
    padding: 0 45px;
  }
}

@media (max-width: $mobile) {
  .container {
    min-width: 320px;
    padding: 0 15px;
  }
}

 .container-wrap {
   max-width: 1250px;
   margin: 0 auto;
   box-sizing: border-box;
   padding-left: 45px;
   padding-right: 45px;
 }

@media (max-width: $tablet) {
  .container-wrap__hidden {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $mobile) {
   .container-wrap {
     padding-left: 15px;
     padding-right: 15px;
   }

  .container-wrap__hidden {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}
