.review {
  padding: 117px 15px 120px;
}

.review-wrapper {
  margin: 0 auto;
  max-width: $desktop;
  text-align: center;
  position: relative;
}

.review h2 {
  margin: 0;
  margin-bottom: 52px;
  font-family: $bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
  font-weight: normal;
}

.review__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;

  .active {
    display: flex;
  }
}

.review__list-slider {
  margin: 0;
  padding: 0;
  position: absolute;
  //top: 50%;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  cursor: pointer;
  z-index: 1;
  transform-origin: center;
}

.review__slider-wrap {
  position: relative;
  max-width: 710px;
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
  margin-left: auto;
  margin-right: auto;
}

.review__list-slider-prev {
  //margin-right: 28px;
  transform: translateY(-50%) rotate(45deg);
  left: 23px;
  top: 50%;
}

.review__list-slider-next {
  //margin-left: 28px;
  transform: translateY(-50%) rotate(225deg);
  right: 23px;
  top: 50%;
}

.review__list-slider-prev:hover,
.review__list-slider-prev:focus {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.review__list-slider-prev:active {
  width: 24px;
  height: 24px;
  margin-right: 28px;
}

.review__list-slider-next:hover,
.review__list-slider-next:focus {
  width: 40px;
  height: 40px;
  margin-left: 12px;
}

.review__list-slider-next:active {
  width: 24px;
  height: 24px;
  margin-left: 28px;
}

.review__item {
  padding: 63px 61px 49px 60px;
  position: relative;
  text-align: left;
  width: 560px;
  min-height: 242px;
  background-color: #1c3374;
  box-sizing: border-box;
  display: none;
}

.review__text {
  margin-top: -8px;
  margin-left: 29px;
}

.review__item img {
  width: 80px;
  height: 80px;
  position: static;
}

.review__item--second img {
  border-radius: 50%;
}

.review__item h3 {
  margin: 0;
  margin-bottom: 13px;
  font-family: $textRoboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: $white;
}

.review__item p {
  margin: 0;
  font-family: $textRoboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: $white;
}

.review__image {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 62px;
  top: 62px;
}

@media (max-width: $tablet) {
  .review {
    padding: 96px 0 102px;
  }

  .review__slider-wrap {
    max-width: 726px;
  }

  .review__list-slider-prev {
    left: 27px;
  }

  .review__list-slider-next {
    right: 27px;
  }

  .review h2 {
    margin-bottom: 41px;
    font-size: 42px;
    line-height: 42px;
  }

  .review__list {
    padding: 0 6px;
  }

  .review__item {
    padding: 64px 63px 56px 11.5%;
    width: 100%;
  }

  .review__image {
    left: 65px;
  }

  .review__list-slider-prev:hover,
  .review__list-slider-prev:focus {
    margin-right: 19px;
  }

  .review__list-slider-prev:active {
    margin-right: 31px;
  }

  .review__list-slider-next:hover,
  .review__list-slider-next:focus {
    margin-left: 19px;
  }

  .review__list-slider-next:active {
    margin-left: 31px;
  }
}

@media (max-width: $mobile) {
  .review {
    padding: 69px 0 70px;
  }

  .review__slider-wrap {
    padding-left: 47px;
    padding-right: 47px;
  }

  .review__list-slider-prev {
    left: 18px;
  }

  .review__list-slider-next {
    right: 18px;
  }

  .review h2 {
    margin-bottom: 41px;
    font-size: 32px;
    line-height: 32px;
  }

  .review__text {
    margin-top: 0;
    margin-left: 0;
    margin-right: 5px;
  }

  .review__item img {
    width: 68px;
    height: 68px;
    position: absolute;
    left: 17%;
    top: 12%;
  }

  .review__list {
    padding: 0;
    position: relative;
  }

  .review__item {
    padding: 39px 20px 37px 26px;
    width: 100%;
  }

  // .review__item--first {
  //   background-position: 26% 14%;
  //   background-size: 68px 68px;
  // }

  .review__item h3 {
    margin-top: 8px;
    margin-bottom: 23px;
    line-height: 130%;
    margin-left: 55%;
  }

  .review__item p {
    text-align: center;
  }

  .review__image {
    margin-left: 21px;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    float: left;
    left: auto;
    top: auto;
    width: 68px;
    height: 68px;
  }

  .review__list-slider {
    width: 14px;
    height: 14px;
  }

  .review__list-slider:hover,
  .review__list-slider:focus {
    width: 30px;
    height: 30px;
  }

  .review__list-slider:active {
    width: 14px;
    height: 14px;
  }

  .review__list-slider-prev {
    margin-right: 17px;
    margin-bottom: 0;
  }

  .review__list-slider-next {
    margin-left: 0;
    margin-top: 0;
  }

  .review__list-slider-prev:hover,
  .review__list-slider-prev:focus {
    margin-right: 3px;
  }

  .review__list-slider-prev:active {
    margin-right: 17px;
  }

  .review__list-slider-next:hover,
  .review__list-slider-next:focus {
    margin-left: 3px;
  }

  .review__list-slider-next:active {
    margin-left: 17px;
  }
}
