.unpaid {
  width: 50%;
  padding-top: 61px;
  padding-bottom: 69px;
  padding-right: 170px;
  box-sizing: border-box;
}

.unpaid__title {
  word-break: break-word;
  font-family: $bebas;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
  margin-bottom: 31px;
  font-weight: normal;
}

.unpaid-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;

  & input {
    width: 190px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #74819c;
    box-sizing: border-box;
    height: 30px;
    color: #ffffff;
  }

  & input::placeholder {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
  }
}

.unpaid__btn {
  border: 3px solid #ffffff;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #ffffff;

  &:hover {
    opacity: 0.5;
  }
}

@media (max-width: $table-width) {
  .unpaid {
    width: 100%;
    padding-top: 67px;
    padding-bottom: 70px;
    padding-left: 133px;
    padding-right: 162px;
    background-color: #102654;

    & form {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .unpaid__title {
    width: 100%;
    font-size: 42px;
    line-height: 42px;
  }

  .unpaid-form {
    & input {
      width: 206px;
    }
  }
}

@media (max-width: $mobile) {
  .unpaid {
    padding-top: 68px;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .unpaid__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 32px;
  }

  .unpaid-form {
    flex-wrap: wrap;
    margin-bottom: 39px;

    & input {
      width: 100%;
    }

    & input[name="name"] {
      margin-bottom: 30px;
    }
  }
}
