@mixin indent-reset() {
  margin: 0;
  padding: 0;
}

@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//***

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin title-desktop {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;
}

@mixin title-tablet {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin: 0;
}

@mixin title-phone {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.03em;
  margin: 0;
}
